@font-face {
  font-family: "Manrope";
  src: url(./asset/font/Manrope-VariableFont_wght.ttf);
}
:root {
  --biru: #002147;
}
* {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
p,
li,
a,
input,
button {
  letter-spacing: 1px;
}

body {
  font-family: "Manrope", sans-serif;
  height: 1800px;
  max-width: 1440px;
  margin: auto;
  position: relative;
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-thumb {
  background-color: #00a2ea;
  outline: 1px solid #0d6efd;
}
/* header */
.navbar-atas {
  background-color: #00a2ea;
  width: 100%;
  height: 70px;
  z-index: 99;
  position: fixed;
  top: 0;
  transition: all 0.5s;
}

.navbar-atas .container-nav {
  width: 90%;
  height: 70px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.container-nav .satu {
  display: flex;
}
.container-nav .satu h2 {
  font-size: 23px;
  font-weight: 700;
  line-height: 70px;
  margin-left: 10px;
}
.container-nav .satu img {
  width: 50px;
  height: 50px;
  margin: 10px 0;
}
.container-nav .list-nav {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  list-style: none;
}
.container-nav .list-nav li {
  height: 40px;
  line-height: 40px;
  font-size: 18px;
}
.container-nav .list-nav li a {
  transition: all 0.5s;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.container-nav .list-nav li .active {
  color: white !important;
}

.container-nav .list-nav li:nth-child(1) {
  background-image: linear-gradient(black, black);
  background-repeat: no-repeat;
  background-size: 0% 5px;
  transition: all 0.5s;
  width: 50%;
  border-radius: 2px;
  background-position: left bottom;
  cursor: pointer;
}
.container-nav .list-nav li:nth-child(1):hover {
  background-size: 100% 5px;
}
.container-nav .list-nav li:nth-child(2) {
  background-image: linear-gradient(black, black);
  background-repeat: no-repeat;
  background-size: 0% 5px;
  transition: all 0.5s;
  width: 35%;
  border-radius: 2px;
  background-position: left bottom;
  cursor: pointer;
}
.container-nav .list-nav li:nth-child(2):hover {
  background-size: 100% 5px;
}
.container-nav .list-nav li:nth-child(3) {
  background-image: linear-gradient(black, black);
  background-repeat: no-repeat;
  background-size: 0% 5px;
  transition: all 0.5s;
  width: 40%;
  border-radius: 2px;
  background-position: left bottom;
  cursor: pointer;
}
.container-nav .list-nav li:nth-child(3):hover {
  background-size: 100% 5px;
}
.container-nav .list-nav li:nth-child(4) {
  background-image: linear-gradient(black, black);
  background-repeat: no-repeat;
  background-size: 0% 5px;
  transition: all 0.5s;
  width: 30%;
  border-radius: 2px;
  background-position: left bottom;
  cursor: pointer;
}
.container-nav .list-nav li:nth-child(4):hover {
  background-size: 100% 5px;
}
.container-nav .list-nav li:nth-child(5) {
  background-image: linear-gradient(black, black);
  background-repeat: no-repeat;
  background-size: 0% 5px;
  transition: all 0.5s;
  width: 90%;
  border-radius: 2px;
  background-position: left bottom;
  cursor: pointer;
}
.container-nav .list-nav li:nth-child(5):hover {
  background-size: 100% 5px;
}
.icon-nav {
  justify-content: center;
  align-items: center;
  display: none;
  cursor: pointer;
}
.menu-toggle {
  display: none;
}

.header {
  width: 100%;
  height: 850px;
  position: absolute;
  display: grid;
  grid-template-columns: 2fr 1fr;
  z-index: 1;
}

.header .kiri {
  background-color: #fff;
}
.header .kanan {
  background-color: #00a2ea;
}
.container-header {
  padding-top: 200px;
  position: relative;
  z-index: 2;
  width: 80%;
  margin: auto;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.container-header .kiri .beda {
  margin-top: 50px;
  font-size: 18px;
  font-weight: bold;
  color: #f1841e;
  text-transform: uppercase;
  width: 90%;
}
.container-header .kiri h1 {
  font-size: 40px;
  margin: 5px 0;
  width: 90%;
  font-weight: 800 !important;
}
.container-header .kiri p {
  font-size: 17px;
  color: #31353b;
  width: 90%;
}
.container-header .kiri form {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 8fr 2fr;
  width: 90%;
}
.container-header .kiri form input {
  border: 1px solid #f1841e;
  border-radius: 3px 0 0 3px;
  padding: 10px 15px;
  font-size: 14px;
  outline: none;
}
.container-header .kiri form input::placeholder {
  font-size: 14px;
  color: #f1841e;
}
.container-header .kiri form button {
  background-color: #f1841e;
  border: none;
  color: white;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}
.container-header .kanan img {
  width: 90%;
  display: block;
  margin: auto;
  margin-bottom: 15px;

  z-index: 3;
}
.container-header .kanan .btn {
  font-size: 14px;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  z-index: 4;
  text-align: center;
  background-color: #f1841e;
  padding: 10px 15px;
  text-transform: uppercase;
  margin: auto;
  display: block;
  width: 50%;
}

.partner {
  margin-top: 10%;
  position: relative;
  z-index: 5;
  width: 50%;
  margin-left: 10%;
}
.partner p {
  margin-bottom: 20px;
  font-size: 17px;
  color: #31353b;
}
.partner ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

/* akhir header */
/* info */
section {
  width: 100%;
}
section .container-info {
  margin-top: 50px;
  width: 90%;
  padding-top: 150px;
  margin: auto;
}

.container-info .atas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.container-info .atas img {
  width: 70px;
  display: block;
  margin: auto;
}
.container-info .atas h3 {
  text-align: center;
  font-size: 18px;
}
.container-info .atas .angka {
  font-size: 28px !important;
  margin-top: 15px;
  margin-bottom: 10px;
}

/* akhirinfo */
/* guru kami */
.container-gurukami {
  height: 400px;
  padding-top: 100px;
  padding-bottom: 350px !important;
  width: 90%;
  margin: auto;
}
.container-gurukami .button {
  text-align: center;
}
.container-gurukami a {
  padding: 15px 20px;
  font-size: 1.2em;
  border-radius: 5px;
  background-color: #00a2ea;
  text-align: center;
  color: white;
  text-decoration: none;
}
.container-gurukami a:hover {
  background-color: white !important;
  border: 1px solid #00a2ea;
  color: #00a2ea;
}
.container-gurukami h2 {
  font-size: 2em;
  padding: 50px 0;
  color: #00a2ea;
}
.container-gurukami .pembungkus {
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.container-gurukami .container-guru2 {
  box-shadow: 0.8px 0.8px 8px #00a2ea;
  margin: 25px auto !important;
  border-radius: 23px 23px 5px 5px;
}
.container-gurukami .container-guru2,
.container-gurukami h2,
.container-gurukami .container-guru2 h3 {
  width: 90%;
  margin: auto;
}
.container-gurukami .container-guru2 h3 {
  text-align: center;
  font-size: 1.2em;
  padding: 15px 0;
}
.container-gurukami .container-guru2 p {
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 16px;
}
.container-gurukami .container-guru2 .img-guru {
  border-radius: 20px 20px 0 0;
  width: 100%;
  display: block;
  margin: auto;
}
.container-gurukami .container-guru2 .icon {
  padding: 25px 0;
  margin: auto;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.container-gurukami .container-guru2 .icon img {
  width: 25px;
  cursor: pointer;
  display: block;
  margin: auto;
}
/* akhir guru kami */
/* berita */
section .container-berita {
  padding-top: 200px;
  width: 90%;
  margin: auto;
}
section .container-berita h2 {
  text-align: center;
  font-size: 28px;
  padding-bottom: 50px;
  color: #00a2ea;
}
section .container-berita .pembungkus {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pembungkus .kanan {
  width: 90%;
  margin: auto;
}
.pembungkus .kiri img {
  width: 100%;
  height: 350px;
}
.pembungkus .kiri .berita-kiri {
  background-color: white;
  box-shadow: 0.5px 0.5px 5px #515151;
  padding-bottom: 30px;
}
.pembungkus .kiri .berita-kiri p,
.pembungkus .kiri .berita-kiri h4 {
  width: 90%;
  margin: auto;
}
.pembungkus .kanan .berita-kanan {
  background-color: white;
  box-shadow: 0.5px 0.5px 5px #515151;
  margin-bottom: 20px;
  height: 230px;
  display: flex;
}
.pembungkus .kanan .berita-kanan .text {
  margin-left: 15px;
}

.pembungkus .kanan .berita-kanan .text .waktu,
.pembungkus .kiri .berita-kiri .waktu {
  margin-top: 15px;
  font-size: 16px;
  color: #00a2ea;
  margin-bottom: 10px;
  width: 90%;
}
.pembungkus .kanan .berita-kanan .text h4,
.pembungkus .kiri .berita-kiri h4 {
  line-height: 1.5em;
  font-size: 12px;
  cursor: pointer;
  width: 90%;
}

.pembungkus .kanan .berita-kanan img {
  width: 262px;
  height: 230px;
}
/* akhir berita */
/* galeri */
section .container-galeri {
  width: 90%;
  margin: auto;
  padding: 100px 0;
}
.container-galeri .luhur {
  padding: 50px 0;
  display: grid;

  grid-template-columns: 7.3fr 1.8fr 0.2fr;
}
.container-galeri .luhur h2 {
  font-size: 28px;
  color: #00a2ea;
}
.container-galeri .luhur a {
  cursor: pointer;
  padding: 10px 15px;
  text-align: center;
  background-color: #00a2ea;
  color: white;
  font-size: 17px;
  border-radius: 3px;
  text-decoration: none;
  border: 1px solid #0d6efd;
}
.container-galeri .luhur a:hover {
  background-color: white;
  color: #00a2ea;
}
.container-galeri .pembungkus {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}
.container-galeri .pembungkus .dua {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

.img-satu,
.img-dua {
  width: 95%;
}

/* akhir galeri */
/* lokaisi */
section .container-lokasi {
  width: 100%;
  background-image: url(./asset/img/bg-j.jpg);
  background-position: center;
  background-size: cover;
  height: 500px;
  padding-bottom: 50px !important;
  position: relative;
  z-index: 3;
}
.container-lokasi h2 {
  color: white;
  text-align: center;
  text-shadow: 1px 1px 5px #000;
  position: relative;
  z-index: 5;
  padding-top: 50px;
  font-size: 1.5em;
}
section .container-lokasi::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 40%;
  position: absolute;
  z-index: 4;
}
.container-lokasi .pembungkus {
  position: relative;
  z-index: 5;
  height: 400px;
  padding-top: 100px;
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
}
.container-lokasi .pembungkus .ul {
  display: grid;
  grid-template-columns: 0.1fr 0.9fr;
}
.container-lokasi .location {
  list-style: none;
}
.container-lokasi .location li {
  padding-top: 5px;
  text-shadow: 1px 1px 5px #000;
  color: white;
  font-size: 16px;
  font-weight: bold;
  height: 50px;
}
.container-lokasi .img {
  list-style: none;
}
.container-lokasi .img li img {
  margin-bottom: 25px;
  width: 30px;
  box-shadow: 0.5px 0.5px 5px white;
  margin-right: 10px;
}
.img-lokasi img {
  width: 80%;
  display: block;
  margin-top: 100px;
  margin: auto;
}
/* akhir lokasi */
/* footer */
.footer {
  padding-top: 50px;
  height: 450px;
  background-color: #1e2022;
  display: grid;
  /* grid-template-columns: 1.3fr 0.8fr 1.3fr 1.3fr; */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

footer {
  height: 100px;
  line-height: 100px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.5);
}
.footer ul li {
  cursor: pointer;
  color: rgb(225, 225, 225, 0.8);
  font-size: 14px;
}
.footer ul li:hover {
  color: #00a2ea;
}
.footer ul .judul {
  height: 40px;
  color: white;
  font-size: 18px;
  margin-bottom: 15px;
  background-image: linear-gradient(white, white);
  background-repeat: no-repeat;
  background-size: 0% 5px;
  transition: all 0.5s;
  width: 100%;
  border-radius: 2px;
  background-position: left bottom;
  cursor: pointer;
}
.footer ul .judul:hover {
  width: 50%;
  background-size: 100% 5px;
}

.footer ul .judul:hover {
  color: white;
}
.footer ul {
  list-style: none;
  line-height: 30px;
}
.empat h3 {
  padding-top: 25px;
  color: rgb(250, 250, 250);
  text-align: center;
}
.empat .grid-footer {
  padding: 25px 0;
  width: 75%;
  margin: auto;
  display: flex;
}
.grid-footer img {
  margin: 0 15px;
  width: 25px;
  height: 25px;
}
.hiji {
  margin-left: 40px;
  padding: 0 15px;
}
.btn-lihat2 {
  padding: 10px;
  border-radius: 5px;

  margin-top: 25px;
  display: block;
  background-color: #0d6efd;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: 1px 1px 2px #0d6efd;
  z-index: 5;
  position: relative;
}
/* guru & staf */
section .container-guru {
  padding-top: 100px;
  padding-bottom: 200px;
  width: 90%;
  margin: auto;
  position: relative;
  z-index: 8;
}
.guru-header {
  width: 100%;
  height: 1500px;
  position: absolute;
  display: grid;
  grid-template-columns: 2fr 1fr;
  z-index: 1;
}

.guru-header .kiri {
  background-color: #fff;
}
.guru-header .kanan {
  background-color: #f1841e;
}
.container-guru .judul {
  padding: 25px;
}
.kepsek > * {
  text-align: center;
}
.guru {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.guru .waka,
.img-kepsek {
  display: block;
  margin: auto;
  width: 150px;
  border-radius: 50%;
  height: 150px;
}
.container-guru h5 {
  font-size: 16px;
  text-align: center;
  margin: 15px 0;
  color: #212112;
}
.container-guru h2 {
  font-size: 18px;
  text-align: center;
}
hr {
  margin: 50px;
}
/* akhir guru & staf */
/* profil */
section .container-profil {
  padding-top: 100px;
  width: 90%;
  margin: auto;
  padding-bottom: 100px;
}
.container-profil .flex {
  background-image: url(./asset/img/bg-j.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.container-profil .flex img {
  width: 100%;
  margin: 25px;
}
.container-profil .flex h2 {
  margin-left: 35px;
  color: white;
  margin-top: 150px;
  font-size: 40px;
  text-shadow: 1px 1px 5px #000;
}
.container-profil ul {
  width: 90%;
  margin: auto;
  margin-top: 15px;
  list-style: none;
  line-height: 30px;
}
.container-profil h5 {
  width: 90%;
  margin: auto;
  font-size: 18px;
  color: #515151;
}
.container-profil h1 {
  width: 90%;
  margin: auto;
  margin: 15px 0;
  font-size: 28px;
  color: #00a2ea;
}
/* akhir profil */
.halaman-galeri {
  width: 90%;
  padding-top: 100px;
  margin: auto;
}

.halaman-galeri .galeri {
  padding-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}
.halaman-galeri .galeri div img {
  width: 100%;
}
/* e perpustakaan */
.container-perpustakaan {
  position: relative;
  z-index: 4;
  padding-top: 100px;
  width: 90%;
  margin: auto;
}
.container-perpustakaan th {
  color: #0d6efd;
}
.container-perpustakaan table {
  overflow-x: scroll;
  border-collapse: collapse;
  width: 60%;
  margin: auto;
  background-color: rgb(233, 232, 232);
}
.container-perpustakaan th {
  padding: 5px 25px;
}
.container-perpustakaan table,
.container-perpustakaan tr,
.container-perpustakaan td,
.container-perpustakaan th {
  border: 1px solid black;
}
.container-perpustakaan h1 {
  text-align: center;
  padding: 50px 0;
  color: white;
}

.container-perpustakaan tr:nth-child(even) {
  background-color: #dbdbdb;
  color: black;
}
.container-perpustakaan td {
  text-align: center;
}
.container-perpustakaan .hijau {
  font-weight: 800;
  color: green;
}
.container-perpustakaan .merah {
  font-weight: 800;
  color: red;
}
.container-perpustakaan td img {
  width: 100px;
}
.header-perpustakaan {
  width: 100%;
  height: 1810px;
  position: absolute;
  display: grid;
  grid-template-columns: 2fr 1fr;
  z-index: 1;
}

.header-perpustakaan .kiri {
  background-color: #00a2ea;
}
.header-perpustakaan .kanan {
  background-color: #f1841e;
}

@media (max-width: 576px) {
  nav .container-nav {
    grid-template-columns: 0.5fr 2fr 0.5fr !important;
  }
  nav .nav-judul {
    align-items: center;
    justify-content: center;
  }
  .header {
    height: 1100px;
  }
  .container-header {
    width: 90%;
    padding-top: 100px;
    display: block !important;
  }
  .container-header .kanan {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .container-header .kiri .beda {
    font-size: 16px;
    line-height: 30px;
  }
  .container-header .kiri h1 {
    font-size: 32px;
  }
  .container-header .kiri p {
    font-size: 14px;
    line-height: 1.5em;
  }
  .container-header .kiri form {
    grid-template-columns: 7.5fr 2.5fr;
    margin-top: 25px;
  }
  .partner {
    margin-top: 110%;
  }
  .partner ul li img {
    width: 70px;
    margin: 10px 0;
  }
  .container-info .atas {
    display: block !important;
  }
  .container-info .atas .card {
    padding: 25px 0;
  }
  .container-info .atas img {
    width: 70px;
    display: block;
    margin: auto;
  }
  .pembungkus .kanan {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
  .pembungkus .kanan .berita-kanan {
    display: block;
    height: 300px;
  }
  .pembungkus .kanan .berita-kanan img {
    width: 100%;
    height: 130px;
  }

  .pembungkus .kanan .berita-kanan .waktu {
    margin-top: 15px;
    font-size: 12px !important;
    margin-bottom: 5px;
  }

  .pembungkus .kanan .berita-kanan h4 {
    line-height: 1.5em;
    font-size: 10px !important;
  }
  .container-galeri .luhur {
    grid-template-columns: 3fr 2fr 0.1fr;
  }
  .container-galeri .luhur h2 {
    font-size: 18px;
  }
  .container-galeri .luhur button {
    color: white;
    font-size: 12px;
  }
  .container-galeri .pembungkus {
    display: block !important;
  }
  .container-galeri .pembungkus > *,
  .container-galeri .pembungkus .dua img {
    margin: 10px 0;
  }
  .container-lokasi {
    height: 700px !important;
  }
  .container-lokasi .pembungkus {
    display: block;
  }
  .container-lokasi .pembungkus .img-lokasi {
    margin-top: 50px;
  }
  .container-lokasi .pembungkus .img-lokasi img {
    width: 90%;
  }
  .footer {
    height: 900px !important;
  }
  .footer .satu,
  .footer .dua,
  .footer .tiga {
    height: 200px;
    margin: 0 15px !important;
    padding: 5px 0;
  }
  .empat h3 {
    text-align: left;
    width: 90%;
    margin: auto;
  }
  .empat .grid-footer {
    padding: 25px 0;
    width: 90%;
    margin: auto;
    display: flex;
  }
  .grid-footer img {
    margin: 0 15px;
    width: 25px;
    height: 25px;
  }
  .img-satu,
  .img-dua {
    width: 100%;
  }
  .hiji {
    margin-left: 0px;
  }
  /* akhirindex */
  .pembungkus .kiri img {
    width: 100%;
    height: 230px !important;
  }

  .container-guru .guru {
    display: block;
  }
  .container-guru .guru div {
    padding: 25px 0;
  }
  .container-guru .guru div h5,
  .kepsek h5 {
    font-size: 14px;
  }
  .container-guru .guru div h2,
  .container-guru .judul,
  .kepsek h2 {
    font-size: 16px;
  }
  .container-profil .flex h2 {
    margin-left: 35px;
    font-size: 18px !important;
    margin-top: 30%;
  }
  .container-profil ul {
    margin-top: 15px;
    line-height: 30px;
  }
  .container-profil h5 {
    font-size: 16px;
  }
  .container-profil h1 {
    font-size: 22px;
  }
  .halaman-galeri .galeri {
    display: block;
  }
  .guru-header {
    width: 100%;
    height: 3200px !important;
  }

  .container-gurukami {
    height: 2000px;
  }
  .container-gurukami .pembungkus {
    display: block;
  }
  .container-gurukami {
    padding-bottom: 200px !important;
  }
  .container-gurukami a {
    padding: 10px 15px;
    font-size: 1em;
  }
  .container-gurukami .container-guru2 .icon {
    width: 50% !important;
  }
  .container-perpustakaan .container {
    overflow-x: scroll !important;
    width: 100% !important;
  }
  .header-perpustakaan {
    height: 1880px !important;
  }
  .container-nav .list-nav li:nth-child(2):hover {
    background-size: 0% 0px;
  }
}
@media (max-width: 992px) {
  .container-nav .list-nav li .active {
    color: #f1841e !important;
  }
  .icon-nav {
    display: flex;
  }
  .icon-nav img {
    width: 30px;
    height: 30px;
  }
  nav .container-nav {
    grid-template-columns: 1fr 10fr 1fr !important;
  }
  nav .satu {
    justify-content: center;
    align-items: center;
  }
  nav .list-nav {
    z-index: -1;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 60px;
    display: block !important;
    background-color: white;
    width: 100%;
    transform: translateY(-130%);
    transition: all 1s;
  }
  nav ul.slide {
    transform: translateY(10px);
  }

  .menu-toggle {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
  }

  .menu-toggle > input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -5px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
  }
  .menu-toggle > span {
    display: block;
    width: 28px;
    height: 4px;
    background-color: black;
    border-radius: 3px;
    transition: all 0.5s;
  }
  /* animasi menu toggle */
  .menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
  }
  .menu-toggle span:nth-child(4) {
    transform-origin: 0 0;
  }
  .menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(39deg) translate(-1px, -1px);
    background-color: black !important;
  }
  .menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-39deg) translate(-1px, 0);
    background-color: black !important;
  }
  .menu-toggle input:checked ~ span:nth-child(3) {
    transform: scale(0);
    opacity: 0;
  }
  .nav-judul h3 {
    margin-left: 10px;
    font-size: 1.2em;
  }
  .list-nav li {
    border-bottom: 1px solid black;
    width: 100% !important;
  }
  .list-nav li a {
    margin-left: 25px;
    font-size: 16px;
    padding-right: 200px;
  }
  .partner {
    width: 80%;
  }
  section .container-berita .pembungkus {
    display: block;
  }
  .pembungkus .kanan {
    width: 100%;
    margin: 25px auto;
  }
  .container-guru .guru div h5,
  .kepsek h5 {
    font-size: 14px;
  }
  .container-guru .guru div h2,
  .container-guru .judul,
  .kepsek h2 {
    font-size: 16px;
  }
  .container-profil .flex h2 {
    margin-left: 35px;
    font-size: 32px;
    margin-top: 30%;
  }
  .container-info .atas .card h3 {
    font-size: 14px;
  }
  .guru-header {
    width: 100%;
    height: 1400px;
  }
  .container-lokasi .location li {
    font-size: 14px;
    margin-top: 10px;
  }

  .container-lokasi .location li img {
    width: 25px;
  }
  .pembungkus .kiri img {
    height: 430px;
  }
  .container-gurukami .container-guru2 .icon {
    width: 80%;
  }
  .header-perpustakaan {
    height: 1830px;
  }
  .container-perpustakaan .container table {
    width: 100%;
  }
  .container-perpustakaan .container {
    overflow-x: scroll !important;
    width: 100% !important;
  }
}
